# Lecture 3 — Jupyter Notebooks for Analysis (Kaggle Dataset Example: Netflix Movies & TV Shows)

**Dataset:** Kaggle “Netflix Movies and TV Shows” (`netflix_titles.csv`)  
Dataset page: https://www.kaggle.com/datasets/shivamb/netflix-shows

**Notebook skills highlighted**
- Markdown narrative + code outputs (analysis as a report)
- Reproducibility: `Kernel → Restart & Run All`
- Relative paths + simple project structure
- Handling missing values + date parsing
- Clean, labeled plots + short interpretations

---

## 0) Recommended folder structure

```
lecture3_netflix/
  notebooks/
    L3_netflix_notebook.ipynb
  data/
    netflix/
      netflix_titles.csv
```

> Put the CSV in `data/netflix/` before running the load cell.

## 1) Getting the dataset (two options)

### Option A — Manual download (best for lecture day)
1. Open the Kaggle dataset page.
2. Download the dataset ZIP.
3. Extract `netflix_titles.csv` into: `data/netflix/`.

### Option B — Kaggle API download (reproducible)
1. Create a Kaggle API token (`kaggle.json`) from Kaggle Account settings.
2. Put it in:
   - macOS/Linux: `~/.kaggle/kaggle.json`
   - Windows: `C:\Users\<you>\.kaggle\kaggle.json`
3. macOS/Linux permissions: `chmod 600 ~/.kaggle/kaggle.json`
4. Run the download cell below.

> **Class tip:** Option A avoids account setup issues in-class. Option B is great to demonstrate reproducible data access.

In [1]:
import os
from pathlib import Path
import subprocess
import zipfile

DATA_DIR = Path("data/netflix")
DATA_DIR.mkdir(parents=True, exist_ok=True)

csv_path = DATA_DIR / "netflix_titles.csv"

if csv_path.exists():
    print("✅ Found:", csv_path)
else:
    print("netflix_titles.csv not found. Attempting Kaggle download...")
    print("If this fails, use manual download (Option A).")

    # Ensure kaggle is installed
    try:
        import kaggle  # noqa: F401
    except Exception:
        subprocess.check_call([os.sys.executable, "-m", "pip", "install", "-q", "kaggle"])

    # Download dataset zip
    subprocess.check_call(["kaggle", "datasets", "download", "-d", "shivamb/netflix-shows", "-p", str(DATA_DIR)])

    # Unzip all zips in DATA_DIR
    for z in DATA_DIR.glob("*.zip"):
        print("Unzipping:", z.name)
        with zipfile.ZipFile(z, "r") as zip_ref:
            zip_ref.extractall(DATA_DIR)

    print("✅ Done. Files:", [p.name for p in DATA_DIR.glob('*')])

✅ Found: data/netflix/netflix_titles.csv

## 2) Imports + settings (reproducibility cell)

A good notebook has a **single place** for imports and global settings.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

SEED = 0
rng = np.random.default_rng(SEED)

pd.set_option("display.max_columns", 50)
pd.set_option("display.width", 120)

DATA_DIR = Path("data/netflix")
CSV_PATH = DATA_DIR / "netflix_titles.csv"

## 3) Load data (relative path)

**Notebook best practice:** do not hard-code absolute paths (`/Users/...`).

In [3]:
if not CSV_PATH.exists():
    raise FileNotFoundError(
        f"Missing {CSV_PATH}.\n"
        "Download from Kaggle (manual) or run the Kaggle API download cell above."
    )

df = pd.read_csv(CSV_PATH)
df.head(

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## 4) Quick checks (shape, columns, missingness)

Keep this section short and repeatable.

In [4]:
df.shape

(8807, 12)

In [5]:
df.columns.tolist()

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   str
 1   type          8807 non-null   str
 2   title         8807 non-null   str
 3   director      6173 non-null   str
 4   cast          7982 non-null   str
 5   country       7976 non-null   str
 6   date_added    8797 non-null   str
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   str
 9   duration      8804 non-null   str
 10  listed_in     8807 non-null   str
 11  description   8807 non-null   str
dtypes: int64(1), str(11)
memory usage: 825.8 KB

In [7]:
df.isna().sum().sort_values(ascending=False).head(12)

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

## 5) Minimal cleaning for EDA

We’ll:
- Parse `date_added` (often missing)
- Create `year_added`
- Keep missing values as-is (but handle them in group-bys)

In [ ]:
# Parse dates (coerce errors -> NaT)
df["date_added"] = pd.to_datetime(df["date_added"], errors="coerce")
df["year_added"] = df["date_added"].dt.year

df[["title", "type", "date_added", "year_added"]].head(10)

## 6) EDA questions (write them in Markdown)

1. How many **Movies vs TV Shows**?
2. How has content **added over time** changed?
3. Which **countries** appear most often? (Note: multiple countries per title)
4. What are the most common **ratings**?

In [ ]:

# Q1) Movies vs TV Shows
type_counts = df["type"].value_counts(dropna=False)
type_counts

In [ ]:
plt.figure()
plt.bar(type_counts.index.astype(str), type_counts.values)
plt.xlabel("Type")
plt.ylabel("Count")
plt.title("Netflix titles: Movies vs TV Shows")
plt.show()

In [ ]:
# Q2) Titles added per year (ignoring missing dates)
added_per_year = df.dropna(subset=["year_added"]).groupby("year_added").size()
added_per_year.tail()

In [ ]:
plt.figure()
plt.plot(added_per_year.index, added_per_year.values)
plt.xlabel("Year added")
plt.ylabel("Titles added")
plt.title("Titles added to Netflix by year (from date_added)")
plt.show()

In [ ]:
# Q3) Top countries
# country field can contain multiple countries separated by commas.
countries = (
    df["country"]
    .dropna()
    .str.split(",")
    .explode()
    .str.strip()
)
top_countries = countries.value_counts().head(10)
top_countries

In [ ]:
plt.figure()
plt.barh(top_countries.index[::-1], top_countries.values[::-1])
plt.xlabel("Count")
plt.ylabel("Country")
plt.title("Top 10 countries listed (titles may have multiple countries)")
plt.show()

In [ ]:
# Q4) Ratings distribution
rating_counts = df["rating"].value_counts(dropna=False).head(12)
rating_counts

In [ ]:
plt.figure()
plt.bar(rating_counts.index.astype(str), rating_counts.values)
plt.xlabel("Rating")
plt.ylabel("Count")
plt.title("Top ratings (first 12)")
plt.xticks(rotation=45, ha="right")
plt.show()

## 7) Interpretation (write in full sentences)

Write **3–6 sentences** interpreting what you found. Example (edit in class):

- The catalog is dominated by Movies relative to TV Shows.
- Additions per year show a clear trend (peaks/declines) that could reflect data coverage or platform strategy.
- The country field often includes multiple countries per title; the top countries represent frequent production origins.
- Ratings are skewed toward a few common categories, suggesting a dominant audience focus.

## 8) Reproducibility check (before submission)

**Rule:** Run `Kernel → Restart & Run All`.  
If anything breaks, you likely have hidden state or missing imports.

In [ ]:
print("If you reached this cell after Restart & Run All, your notebook is reproducible.")

## 9) Export / share

- Export HTML (terminal):
  - `jupyter nbconvert --to html notebooks/L3_netflix_notebook.ipynb`
- For Git: avoid committing huge outputs; keep notebooks clean.